<div class="w-100 top-header">
  <h3>
    Delta Store
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-rocket-takeoff-fill"
      viewBox="0 0 16 16">
      <path
        d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.578 3.578 0 0 0-.108-.563 2.22 2.22 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2.35 2.35 0 0 0-.16-.045 3.797 3.797 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.552 2.552 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526l.24-2.408Zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361.599.599.437 1.732-.36 2.531Z" />
      <path
        d="M5.205 10.787a7.632 7.632 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925Z" />
    </svg>
  </h3>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home">Delta Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" DropDownDirective #menu="DropDownDirective"(clickOutside)="close($event,menu)">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngClass]="{'show':menu.isOpen}">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"
        routerLink="/home">
          <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >Home</a>
        </li>
        <li class="nav-item" routerLink="/products">
          <a class="nav-link" routerLinkActive="active">Products</a>
        </li>
        <li class="nav-item" routerLink="/carts">
          <a class="nav-link" routerLinkActive="active" *ngIf="!isAllowed">Carts</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-3" *ngIf="isAllowed">
        <li class="nav-item ms-auto " routerLink="/admin-carts">
          <a class="nav-link" routerLinkActive="active">Customer carts</a>
        </li>
        <li class="nav-item ms-auto " routerLink="/new">
          <a class="nav-link" routerLinkActive="active">Add new Product</a>
        </li>
      </ul>

      <form class="d-flex float-end left-Menu">
        <!-- search box start -->
        <div class="d-flex search">
          <div style="position: relative; left: -10px;" id="collapseExample" class="collapse" >
            <input  class="form-control me-2 " type="search" placeholder="Search" aria-label="Search" (input)="search($event)" (focusout)="onFocusOutEvent($event)" />
            <div style="position: absolute; z-index: 9; max-height: 200px;" *ngIf="searchStart">
              <div class="list-group">
                <a *ngFor="let item of searchRes" routerLink="/product-details/{{item.id}}" class="list-group-item list-group-item-action">{{item.title}}</a>
              </div>
            </div>
          </div>
          <a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="align-self: center;" >
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
          </a>
        </div>
        <!-- search box end -->

        <ul class="navbar-nav  mb-2 mb-lg-0 d-flex justify-content-center align-items-center" >
          <li class="nav-item " >
            <div class="cart" routerLink="/carts" style="align-self: center;" *ngIf="!isAllowed" >
              <span class="count">{{cartCount}}</span>
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
              </svg>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-3" *ngIf="!userData">
          <li class="nav-item ms-auto d-flex" routerLink="/auth/login">
            <a class="nav-link" routerLinkActive="active" >Sign In</a>
            <svg style="color: white;align-self: center;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
              <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
            </svg>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 pe-3 dropdown-center"  *ngIf="userData">
          <li class="nav-item ms-auto d-flex dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <a class="nav-link" routerLinkActive="active" >{{userData.name.firstname | titlecase}}</a>
            <svg style="color: white;align-self: center;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
            </svg>
          </li>
          <ul class="dropdown-menu dropdown-menu-dark" style="position: absolute;">
            <li><a class="dropdown-item" (click)="logout()" routerLink="/home" >Log out</a></li>
          </ul>
        </ul>
      </form>
    </div>
  </div>
</nav>
